@media only screen and (max-width: 568px) {

  .compensation-cards-container {
    .secondary-text {
      font-size: 1.5em;
      padding: 0 1em;
      margin-bottom: 0;
    }
    .compensation-card-selection {
      .compensation-card {
        margin: 1.5em;
        .base-text {
          font-size: 1.1em;
        }
      }
    }
  }
}