.main-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  .header-mobile-container {
    display: none;
  }
}

.nav-bar {
  background-color: #74b050;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
  .nav-bar-title {
    color: #ffffff;
    margin: 25px 25px 0;
    border-bottom: 1px solid #ffffff;
    text-align: center;
    padding-bottom: 20px;
  }
  .nav-bar-sections {
    width: 100%;
    margin: 50px 0 0;
    padding: 0;
    li {
      display: flex;
      position: relative;
      align-items: center;
      padding-left: 20px;
      margin: 30px 0;
      p {
        color: #ffffff;
        z-index: 2;
      }
      .icon-nav {
        filter: brightness(3);
        z-index: 2;
        height: 30px;
        margin: 0 20px;

      }
      .selected-bgd {
        position: absolute;
        z-index: 1;
        display: none;
        transform: translateX(1px);
      }

      .selected-bgd-mobile {
        display: none;
      }
    }
    .-active {
      .icon-nav {
        filter: brightness(1);
      }
      p {
        color: #74b050;
      }
      .selected-bgd {
        display: block;
      }
    }
  }
  .logoSSF {
    width: 60%;
    position: absolute;
    bottom: 30px;
  }
}

.form-area {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  padding: 2em 0;
  .title-section {
    display: none;
  }

  .image-container {
    margin-bottom: 50px;
    svg {
      width: 400px;
    }
  }

  .question-area {
    margin: auto;
    text-align: center;
    min-height: 220px;

    .primary-text {
      margin-bottom: .5em;
    }

    .tertiary-text {
      margin-top: 15px;
    }
  }

  ul.section-progress {
    display: flex;
    margin: 50px auto 0;
    justify-content: center;
    padding: 0;
    .progress-item {
      display: block;
      height: 8px;
      width: 8px;
      border-radius: 10px;
      border: 1px solid gray;
      margin: 0 12px;
    }

    .-active {
      background-color: gray;
    }

  }
}

form {
  display: flex;
  flex-direction: column;
  .input-label-container {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em auto 2em;
    input[type="text"] {
      border-right-color: transparent;
      border-left-color: transparent;
      border-top-color: transparent;
      height: 2em;
      width: 100px;
      text-align: center;
      font-size: 1.2em;
      margin-left: 3em;
      &:focus {
        outline: none;
      }
    }
    .label {
      margin-left: 20px;
      font-size: 1.5em;
      font-weight: 500;
      color: $secondaryColor;
    }
    select {
      border: 1px solid darkgrey;
      margin: 0;
      font-family: 'Maven Pro', sans-serif;
      font-weight: 400;
      color: darkgrey;
      font-size: 1.2em;
      padding: 5px;
      border-radius: 6px;
      width: 75%;
      max-width: 400px;
      &:focus {
        border: 1px solid $secondaryColor;
        outline: none;
      }
    }
    .radio-option {
      display: flex;
      align-items: center;
      margin-right: 2em;
      margin-bottom: 2em;
      &:last-child {
        margin-right: 0;
      }
      input[type="radio"] {
        transform: scale(1.2) translateY(-3px);
      }
      label {
        margin-left: 15px;
        font-size: 1.2em;
        color: darkgrey;
      }
    }
  }

  input[type="submit"] {
    width: 150px;
    border-radius: 50px;
    background-color: $secondaryColor;
    color: white;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 1em auto;
    padding: 0;
    border: none;
    font-size: 1em;
    height: 40px;
    &:focus {
      outline: none;
      animation: boton .2s;
      animation-fill-mode: forwards;
    }
  }

  input[type="button"] {
    width: 150px;
    border-radius: 50px;
    background-color: $secondaryColor;
    color: white;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 1em auto;
    padding: 0;
    border: none;
    font-size: 1em;
    height: 40px;
  }

  .error {
    border-color: red;
    border-style: solid;
  }

  .answer-unit {
    width: 1.5em;
  }

}


.main-button {
  width: fit-content;
  border-radius: 50px;
  background-color: $secondaryColor;
  color: white;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  text-align: center;
  margin: .5em 0;
  padding: .3em 2em;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  cursor: pointer;
  &:focus {
    outline: none;
    animation: boton .2s;
    animation-fill-mode: forwards;
  }
  &:hover {
    background-color: darken($secondaryColor, 8);
    text-decoration: none;
    color: white;
  }
}
